{% extends "base.html" %}

{% block rooms %}

    {% if my_building_list %}
        {% for building in my_building_list %}
            <li>
                <a href="{{ building.get_absolute_url }}"> {{ building.name }} </a>
            </li>
        {% endfor %}
    {% else %}
        <li>There are no buildings on the database!</li>
    {% endif %}


{% endblock %}

{% block content %}

<h4>Number of Buildings: <strong>{{ num_building }}</strong></h4>
<h3>This is a placeholder for the graph</h3>
{% endblock %}